<template src="./aside.htm"></template>
<style src="./aside.scss" lang="scss" scoped></style>

<script>
import { Aside as AppAside } from '@coreui/vue';

export default {
  name: 'AsideComponent',
  components: {
    AppAside,
  },
};
</script>