<template src="./food.htm"></template>
<style src="./food.scss" lang="scss" scoped></style>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'FoodComponent',
  mounted() {
    this.fetchFood();
  },
  methods: {
    fetchFood() {
      this.$store.dispatch('food/fetchFood');
    }
  },
  computed: {
    ...mapGetters({ 
        foods: 'food/foods'
      })
  }
};
</script>