<div class="card animated fadeIn">
  <div class="card-header">
    <span class="fa fa-drumstick-bite"></span> Foods
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item" v-for="(food, index) in foods" :key="index">
        {{ food.name }}
      </li>
    </ul>
  </div>
</div>