<template src="./home.htm"></template>
<style src="./home.scss" lang="scss" scoped></style>

<script>
import AuthenService from '@/services/authen-service';
const authenService = new AuthenService();

export default {
  name: 'HomeComponent',
  data() {
    return {
      email: '',
      password: ''
    };
  },
  methods:{
    onLogin() {
      authenService.login({ email: this.email, password: this.password }).then(
        (data) => this.$router.push('/main/dashboard'),
        (error) => alert('ชื่อผู้ใช้หรือรหัสผ่านไม่ถูกต้อง'));
    }
  },
  computed: {
    isAuthen () {
      return authenService.isAuthen();
    }
  }
};
</script>