<AppHeader fixed>
  <SidebarToggler class="d-lg-none" display="md" mobile />
  <b-link class="navbar-brand" to="/">
    <img class="navbar-brand-full" src="img/brand/logo.svg" width="89" height="25" alt="CoreUI Logo">
    <img class="navbar-brand-minimized" src="img/brand/sygnet.svg" width="30" height="30" alt="CoreUI Logo">
  </b-link>
  <SidebarToggler class="d-md-down-none" display="lg" />
  <b-navbar-nav class="d-md-down-none ml-auto">
    <b-nav-item class="d-md-down-none">
      <AppHeaderDropdown right no-caret>
        <template slot="header">
          <i class="fa fa-power-off"></i>
        </template>
        <template slot="dropdown">
          <a class="dropdown-item" href="javascript:void(0)" style="min-width: 160px;" @click="onLogout()">
            <i class="fa fa-lock"></i> Logout
          </a>
        </template>
      </AppHeaderDropdown>
    </b-nav-item>
  </b-navbar-nav>
  <AsideToggler class="d-none d-lg-block" />
</AppHeader>