<template src="./header.htm"></template>
<style src="./header.scss" lang="scss" scoped></style>

<script>
import {
  Header as AppHeader,
  HeaderDropdown as AppHeaderDropdown,
  SidebarToggler,
  AsideToggler,
} from '@coreui/vue';

import AuthenService from '@/services/authen-service';
const authenService = new AuthenService();

export default {
  name: 'HeaderComponent',
  components: {
    AppHeader,
    AppHeaderDropdown,
    SidebarToggler,
    AsideToggler,
  },
  methods:{
    onLogout() {
      console.log('ddd');
      if (confirm('คุณต้องการออกจากระบบใช่หรือไม่?')) {
        authenService.logout().then(
          (data) => this.$router.push('/'));
      }
    }
  }
};
</script>