<template src="./layout.htm"></template>
<style src="./layout.scss" lang="scss" scoped></style>

<script>
import HeaderComponent from './header/header.vue';
import NavigatorComponent from './navigator/navigator.vue';
import BreadcrumbComponent from './breadcrumb/breadcrumb.vue';
import AsideComponent from './aside/aside.vue';
import FooterComponent from './footer/footer.vue';

export default {
  name: 'LayoutComponent',
  components: {
    'app-layout-header': HeaderComponent,
    'app-layout-navigator': NavigatorComponent,
    'app-layout-breadcrumb': BreadcrumbComponent,
    'app-layout-aside': AsideComponent,
    'app-layout-footer': FooterComponent,
  },
};
</script>
