<template src="./footer.htm"></template>
<style src="./footer.scss" lang="scss" scoped></style>

<script>
import { Footer as AppFooter } from '@coreui/vue';

export default {
  name: 'FooterComponent',
  components: {
    AppFooter,
  },
};
</script>